.App{
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

#show_age{
  color:rgb(255, 255, 255);
  margin-top: 2vh;
  font-size: 24px;
}

.wrong_birth{
  color: rgb(245, 28, 28);
  margin-top: 2vh;
  font-size: 24px;
}


.app_title{
  color:rgb(42, 228, 228);
  text-shadow: 1px 1px 2px rgb(8, 8, 8), 0 0 20px rgb(157, 157, 243), 0 0 5px rgb(78, 103, 241);
  text-decoration: underline whitesmoke;
}

.select_birthdate{
  color: rgb(240, 19, 122);
  font-size: 25px;
}

input[type="date"]{
  font-family:monospace;
  font-size: 18px;
  border:none;
  outline:none;
  border-radius: 5px;
  padding: 7px;
  background-color: #1a85f0;
  color:rgb(255, 255, 255);
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
